


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">




</head>
<body>
    
    <div class="background-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="container">
        <h1 class="header">Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Username</label>
                <input type="text" class="form-control" name="uname" placeholder="Username" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="upass" placeholder="Password" autocomplete="off"  >
            </div>
            <button type="submit" class="btn btn-custom mt-3">Login</button>
            <small class="form-text text-center mt-3">Don't have an account? <a href="/userregistration" style="color: #c94242;">Sign up</a></small>
        </form>
    </div>
   


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
