{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/viewemployee.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">Employee Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome">Home</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
  
    <div class="container my-5">
        {% if x1 %}
            <div class="row">
                {% for i in x1 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="profile-container">
                            {% if i.profilepic %}
                                <img src="{{ i.profilepic.url }}" alt="" class="profile-image">
                            {% else %}
                                <img src="{% static 'images/user-profile.jpg' %}" alt="" class="profile-image">
                            {% endif %}

                            <h2>{{ i.emp_id.first_name }} {{ i.emp_id.last_name }}</h2>
                            <div class="profile-details">
                                <p>AGE: {{ i.age }}</p>
                                <p>Email: {{ i.emp_id.email }}</p>
                                <p>Phone: {{ i.phoneno }}</p>
                 
                                {% if i.emp_id.is_active == 0 %}
                                    <a href="{% url 'approverequest' aid=i.id %}" class="btn btn-success btn-block mb-2">Approve</a>
                                {% elif i.emp_id.is_active == 1 %}
                                    <button class="btn btn-secondary btn-block mb-2" disabled>Approved</button>
                                    <a href="{% url 'disaproveemployee' aid=i.id %}" class="btn btn-danger btn-block mb-2">Disapprove</a>
                                {% else %}
                                    <a href="{% url 'approverequest' aid=i.id %}" class="btn btn-success btn-block mb-2">Approve</a>
                                    <button class="btn btn-secondary btn-block mb-2" disabled>Disapproved</button>
                                {% endif %}
                                <a href="{% url 'confirmrequest' did=i.id %}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="text-center">No employees</h1>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


 
</body>
</html>
